<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/icheck-grey.css" rel="stylesheet">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/js/vendor/ie-emulation-modes-warning.js"></script>
      <script src="js/vendor/jquery-1.11.3.min.js"></script>
      <script src="js/vendor/notify.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="js/vendor/jquery-1.11.3.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="/js/vendor/icheck.min.js"></script>
  <script src="js/vendor/ie10-viewport-bug-workaround.js"></script>
  <script src="/js/vendor/knockout-3.3.0.js"></script>
  <script src="/js/main.js"></script>
</html>
